<!DOCTYPE html>
<html><head> <title>jQuery Meets the DOM</title> 
<style> 
#change_me {position: absolute; top: 100px; left: 400px; font: 24px arial;}
#move_up #move_down #color #disappear {padding: 5px;}
</style>

<!-- 1.Javascript Libraray start-->  
<script src=scripts/jquery-1.5.2.min.js></script>
</head> 
<body>
<!--2. Button Making-->
        <button id="move_up">Move Up</button>
				<button id="move_down">Move Down</button>
				<button id="color">Add Color</button>
				<button id="disappear">Disappear/Re-appear</button>  
        
<!-- 3.On this Division we apply the Change-->

				<div id="change_me">Make Me Do Stuff!</div> 
		
		
<!--4.Scripting Language-->
				<script>
				
<!--5.Jquery Start means dom model start-->
	
	$(document).ready(function() {
	
<!--6.Applying Dom on move up button-->
		$("#move_up").click( function() {
		
<!--7.when the buttom is apply the animation on the change_me division nested under the .click function-->
				
				$("#change_me").animate({top:30},200); //first parameter is how much top and second is in what time
				
				});//end move_up
				
<!-- 8.Similary Design for move down Button-->
		$("#move_down").click( function() {	

				$("#change_me").animate({top:500},2000);  
		});//end move_down
		
<!-- 9.Adding the css style i.e adding color to the text-->		
		$("#color").click( function() {
				$("#change_me").css("color", "purple");	
		});//end color
		
<!--10 Adding the toggle function on the Disappearance button-->
		$("#disappear").click( function() {
				$("#change_me").toggle('slow'); 
		});//end disappear

	});//end doc ready
</script> 
</body> 
</html>
========================================================================================================================================================
##NOte:--The dollar sign with the parentheses is the shorter name of the jQuery function. This shortcut saves us from writing jQuery()” every time we want 
to call the jQuery function. The jQuery function is also often referred to as the jQuery wrapper.
$=jQuery
This is the jQuery shortcut. Instead of typing the six characters that make up “jQuery,” you just type one.
========================================================================================================================================================
========================================================================================================================================================
h1 {
text-align: left;
}
-------------------------------------------------------------------------------------------------------------------------------------------------------
.my_class {
position: absolute;
}
#my_id {
color: #3300FF;
}
CSS selectors select elements to add style to those elements; jQuery selectors select elements to add behavior to those elements.
========================================================================================================================================================
$("button").click(function(){}
$("p").hide;
$("#myTop").css({"background-color":"blue"});
=========================================================================================================================================================
<p>One morning, when Gregor Samsa woke from troubled dreams . . .</p>
<p>he found himself transformed in his bed into a horrible vermin.</p>
<p>He lay on his armour-like back, and if he lifted his head a little . . . </p>
$("p").hide();
========================================================================================================================================================
<span class="Italian">Nel Mezzo del cammin dinostra vita</span>
<span class="English">In the middle of this road called "our life"</span> not applied here
<span class="Italian">mi ritrovai per una selva oscura</span>
$("span.Italian").toggle();
=======================================================================================================================================================
<p id="mytext">One morning, when Gregor Samsa woke from troubled dreams . . .</p>
<p id="mytext">he found himself transformed in his bed into a horrible vermin.</p>
<p>He lay on his armour-like back, and if he lifted his head a little . . . </p>
$("p#mytext").show();
=======================================================================================================================================================
Page No--19
